/**
 * Created by S Miller <hereiamnow@gmail.com>
 * Date: 1/29/2020 12:24 PM
 * Relative Path: src/sass/include/_titles.scss
 */

.title-inline {
    float         : left;
    display       : inline-block;
    margin-bottom : 0;
    line-height   : 1;
}

.title-center {
    text-align : center;
}

.des-text2 {
    padding-top : 26px;
}

.title-landing {
    margin-bottom : 38px;
}